/*yesky?????????? | last modify:2006-05-29 */ 

html { min-width: 776px; }
body { margin: 0px ; padding: 0px ; font-size:12px ; color:#000000 ; text-align: center ; background: #FFF ; line-height:150% ; }
td {text-align:left;font-size:12px;color:#5C5C5C ; }
form { border-right : 0px ; padding-right : 0px ; border-top : 0px ; padding-left : 0px ; padding-bottom : 0px ; margin : 0px; border-left : 0px ; padding-top : 0px ; border-bottom : 0px ; }
input { font-size: 12px ;}
.clear { clear: both; font-size: 1px; visibility: hidden; width: 1px; line-height:8px; }
.clear2 { clear: both; font-size: 1px; visibility: hidden; width: 1px; line-height:2px; }
.clear14 { clear: both; font-size: 1px; visibility: hidden; width: 1px; line-height:14px; }
.hidden { display: none; }
.img { border: 0px; }
.left { float: left; }
.right { float: right; }
.space { margin:4px 8px 0px 8px; text-align: left ; }
.space2 { margin:4px 4px 0px 4px; text-align: left ; }
.hr { width:100%-4px; margin: 1px 2px 6px 2px; height:1px; padding: 0px; background: url(../inverse/hrbglight.gif) repeat-x ; float:center; }

/*????776??????????*/
.box { width:776px; background: #FFF repeat; text-align: center; float: center; }
.box-left { width: 608px; text-align: left; float: left ; background:#FFF; border:#9FAB72 1px solid; margin-top: 2px;}
.box-right { width: 158px; float: right; background: #FFFFFF repeat; text-align: center; margin-top: 2px; }

/* ??????????? */
H1 { padding : 0px ; margin : 0px ; }
H2 { padding : 0px ; margin : 0px ; font-size:12px; }
H3 { padding : 0px ; margin : 0px ; font-size:12px; }
H4 { padding : 0px ; margin : 0px ; font-size:12px; }
H5 { padding : 0px ; margin : 0px ; }
H6 { padding : 0px ; margin : 0px ; }
a:link,a:visited { text-decoration:none; color:#000; font-size:12px;font-family: "Arial", "Helvetica", "sans-serif"; }
a:active,a:hover { text-decoration:underline; color:#000; font-size:12px;font-family: "Arial", "Helvetica", "sans-serif"; }
/*????12px???????t?????*/
a.grey-s:link,a.grey-s:visited { text-decoration:none; color:#5C5C5C; font-size:12px; line-height:21px; font-family: "Arial", "Helvetica", "sans-serif"; }
a.grey-s:active,a.grey-s:hover { text-decoration:underline; color: #424242; font-size:12px; line-height:21px; font-family: "Arial", "Helvetica", "sans-serif"; }
/*????12px???????t?????*/
a.white-s:link,a.white-s:visited { text-decoration:none; color:#FFF; font-size:12px; font-family: "Arial", "Helvetica", "sans-serif"; }
a.white-s:active,a.white-s:hover { text-decoration:underline; color: #FFFC15; font-size:12px; font-family: "Arial", "Helvetica", "sans-serif"; }
/*????12px6?????t?????*/
a.blue-s:link,a.blue-s:visited { text-decoration:underline; color:#036DE3; font-size:12px ;font-family: "Arial", "Helvetica", "sans-serif"; }
a.blue-s:active,a.blue-s:hover { text-decoration:none; color: #005ABF; font-size:12px ;font-family: "Arial", "Helvetica", "sans-serif"; }
/*????12px???????t?????*/
a.red-s:link,a.red-s:visited { text-decoration:none; color:#D80000; font-size:12px ;font-family: "Arial", "Helvetica", "sans-serif"; }
a.red-s:active,a.red-s:hover { text-decoration:underline; color: #FF0000; font-size:12px ;font-family: "Arial", "Helvetica", "sans-serif"; }
/*????12px6?????t?????*/
a.blue-s-noline:link,a.blue-s-noline:visited { text-decoration:none; color:#036DE3; font-size:12px ;font-family: "Arial", "Helvetica", "sans-serif"; }
a.blue-s-noline:active,a.blue-s-noline:hover { text-decoration:none; color: #005ABF; font-size:12px ;font-family: "Arial", "Helvetica", "sans-serif"; }
/*????12px???????t?????*/
a.green-s:link,a.green-s:visited { text-decoration:underline; color:#088200; font-size:12px ;font-family: "Arial", "Helvetica", "sans-serif"; }
a.green-s:active,a.green-s:hover { text-decoration:underline; color: #065D00; font-size:12px ;font-family: "Arial", "Helvetica", "sans-serif"; }

img,ul,ol,li,dl,dt,dd { margin: 0; padding: 0; border: 0;}
div {margin : 0 auto; } 

#topad { width:776px; padding-top: 6px; padding-bottom: 6px; background: #ECF9E8;  text-align: center; font-family: "Arial", "Helvetica", "sans-serif"; margin-top: 3px; margin-bottom: 3px; }

/*???????????????*/
.bgpic { background:#FF7F00 repeat;color:#FFF; text-align:left; width:752px; height:21px; padding:5px 4px 0px 20px; float: left; }
.bgpic a:link,.bgpic a:visited{text-decoration:none; color:#FFF; font-size:12px;font-family: "Arial", "Helvetica", "sans-serif";  }
.bgpic a:active,.bgpic a:hover{text-decoration:underline; color:#FFF; font-size:12px;font-family: "Arial", "Helvetica", "sans-serif";  }
.rightad {width:156px;height:800px;border: #ADADAD 1px solid; background: #EFEFEF; text-align:center; padding:3px 0px 3px 0px}
.rightname {width:156px;height:21px;background:#EFEFEF;text-align:center;padding-top:3px;font-weight:bold;color:#1042B3;}
.rightcontent {width:152px;background:#fff;text-align:left;padding:6px 2px 6px 2px;margin-bottom:12px;}

/*?????งา?????*/
.smallbox { width: 596px; text-align: left; float: left ; background: url(../inverse/bt_lv.gif) repeat-x ; height:16px; border-bottom:#9FAB72 1px solid; padding:6px 0px 2px 12px; font-size:14px;font-weight:bold;}
.bigbox { width: 608px; text-align: left; float: left ;padding:14px 0px 12px 0px; }
.bottomtp { width: 608px; text-align: left; float: left ;font-sizt:6px;height:10px; line-height:-10px ;padding:0px 0px -5px 0px;background: url(../inverse/bottomtp.gif) repeat-x ;}
.middlebox { width: 566px; text-align: left; float: center ; padding:0px 3px 0px 0px;}
.middlebox1 { width: 578px; text-align: left; float: center ; padding:0px;}
.grayhx { width: 580px; text-align: left; float: center ; background: url(../inverse/grayhx.gif) repeat-x ; height:18px; padding:0; }
.gundong {text-align: right; float:right ; padding:0px 10px 0px 16px;background: #FFF;color:#201F1F; font-size:12px;font-weight:normal;}
.gundong a:link,.gundong a:visited{text-decoration: none; color:#0342E3; font-size:14px;font-weight:bold; line-height:22px; }
.gundong a:active,.gundong a:hover{text-decoration: none; color:#FF7F00; font-size:14px;font-weight:bold; line-height:22px; }

/*???*/
.newspgae {width: 580px; text-align: center;height:18px; padding:0;}
.newspgae a:link,.newspgae a:visited{text-decoration: none; color:#0342E3; font-size:14px;font-weight:bold; line-height:22px; }
.newspgae a:active,.newspgae a:hover{text-decoration: none; color:#FF7F00; font-size:14px;font-weight:bold; line-height:22px; }
.newspgae span {color:#F00;}


/*?งา????????*/
.lbleft{ width: 564px; text-align: left; float: left ; padding:0px 0px 0px 0px;}
.lbtitle{ width: 554px; text-align: left; float: left ; padding:10px 5px 8px 5px}
.lbdigest{ width: 556px; text-align: left;float: left ; padding:8px 0px 4px 12px;background:#FFF;color:#5D5D5D ;}

/*?????????งา???งี????????*/
.bigpointul { margin: 2px 0px 2px 0px; List-style-type: none; text-align: left }
.bigpointli { padding-right: 0px; background-position: left 7px; padding-left: 12px; background-image: url(../inverse/arrow_blue.gif); padding-bottom: 0px; color:#000000;; padding-top: 1px; background-repeat: no-repeat }

/*????14px??6?????t?????*/
a.blue-d:link,a.blue-d:visited { text-decoration:underline; color:#314150; font-size:14px; font-family: "Arial", "Helvetica", "sans-serif"; }
a.blue-d:active,a.blue-d:hover { text-decoration:none; color: #314150; font-size:14px; font-family: "Arial", "Helvetica", "sans-serif"; }

/*????14px6?????t?????*/
a.blue-b:link,a.blue-b:visited { text-decoration:underline; color:#0342E3; font-size:14px;font-family: "Arial", "Helvetica", "sans-serif"; }
a.blue-b:active,a.blue-b:hover { text-decoration:underline; color: #ff0000; font-size:14px;font-family: "Arial", "Helvetica", "sans-serif"; }

/*????12px???????t?????*/
a.black-xl:link,a.black-xl:visited { text-decoration:none; color:#000; font-size:12px;font-family: "Arial", "Helvetica", "sans-serif"; }
a.black-xl:active,a.black-xl:hover { text-decoration:none; color: #ff0000; font-size:12px;font-family: "Arial", "Helvetica", "sans-serif"; }


#menu {
position: absolute;
top: 260;
left: 90%;
font: 12px verdana,arial,helvetica;
color: #ffffff;
padding: 2px;
border: none;
z-index: 5;
}

#menu_left {
position: absolute;
top: 260;
left: 1%;
font: 12px verdana,arial,helvetica;
color: #ffffff;
padding: 2px;
border: none;
z-index: 5;
}

